/* Main formatting stuff for pages */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 'bold';
}
.jumbotron {
    font-family: 'Jost', sans-serif;
}
a {
    font-weight: 'bold';
}
blockquote {
    font-size: 14px;
}
p {
    margin-top: 12px;
    margin-bottom: 12px;
}
blockquote > p {
    margin: 0px;
}
h1:not(.header), h2:not(.header), h4:not(.header) {
    text-align: left;
}
h1, h2, h3, h4 {
    margin-top: 40px;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid;
    text-align: center;
    padding: 7px 14px;
}
table {
    border-collapse: collapse;
    margin: auto;
}
.footnote-item {
    margin-top: 18px;
}


/* Images in index page */
img {
    width: 100%;
}
img.art {
    transition: transform .5s;
    width: 100%; 
    margin-bottom: 20px
}
img.art:hover {
    transform: scale(1.1);
}
.img-wrapper {
    position: relative;
    text-align:center;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
    transition: opacity 0.5s ease-out;
    background: linear-gradient(to right, var(--color1), var(--color2));
}
.img-wrapper:hover:before {
    opacity: 0.3;
}
figure {
    width: 60%;
    margin: auto;
}
figcaption {
    color: #888;
    text-align: left;
}
/* Hidden text styles */
.jumbotron .hover-text {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}

/* Display text on jumbotron hover - but only for screens larger than 768px */
@media (min-width: 768px) {
    .jumbotron:hover .hover-text {
        display: block;
    }
}


pre:has(> code.language-python) {
    padding: 0px;
}

div.codeblock {
    position: relative;
    overflow: auto;
    margin: 16px 0px 4px;
}
div.codeblock pre {
    border-radius: 8px;
}
div.codeblock button {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 1.2rem; /* Adjust font-size for the icon */
    padding: 0.15rem;
    background-color: #636363;
    border: ridge 1px #545454;
    border-radius: 5px;
    text-shadow: #c4c4c4 0 0 2px;
}
div.codeblock button:hover {
    cursor: pointer;
    background-color: #bcbabb;
}
div.codeblock span.copied-message {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 6px;
    height: 20px;
    right: 40px; /* Adjust this value based on the size of your copy icon */
    font-size: 1.2rem;
    padding: 0.15rem;
    background-color: #636363;
    border: ridge 1px #545454;
    border-radius: 5px;
    text-shadow: #c4c4c4 0 0 2px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* (need to define colors for image hover) */
:root {
    --color1: #16f; 
    --color2: #ff7;
}

/* Forms should be on same line (I'll work a lot more on this when I have prototype) */
/* form.gpt {
    display: inline-block; 
} */
/* Makes user messages stand out compared to bot messages */
.user-message {
    background-color: var(--color1k);
    padding: 10px;
    border-radius: 5px;
    margin: 12px;
}
.bot-message {
    background-color: var(--color2k);
    padding: 10px;
    border-radius: 5px;
    margin: 12px;
}
.bot-message > p, .user-message > p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.bot-message > p:not(:last-child) {
    margin-bottom: 1em; /* Add space below each paragraph except the last one */
}
.leftColor {
    color: var(--color1o);
}
.rightColor {
    color: var(--color2o);
}

/* Table of contents (*for blog posts) */
.TableOfContentsRow-level2 {margin-left: 2ch;}
.TableOfContentsRow-level3 {margin-left: 4ch;}
.TableOfContentsRow-level4 {margin-left: 6ch;}

.counterBtn {
    width: 24px;
    padding: 0px;
}



/* `My CV` section */
.bold-color {
    font-weight: 'bold';
}
.date {
    color: #aaa;
    font-size: 12px;
    margin-top: -1px;
    margin-bottom: 7px;
}
.date-cv {
    color: #aaa;
    font-size: 12px;
    margin-top: -7px;
    margin-bottom: 7px;
}
.resume h3 {
    margin-bottom: 25px;
}
.resume h5 {
    margin-top: 20px;
}
ul, li {
    margin-left: 8px;
    padding-left: 8px;
}
.resume li {
    font-size: 13px;
}

/* Animations (for toggles) */
.dropdown-container {
    display: none;
    margin-top: 16px;
    margin-bottom: 22px;
}
.dropdown-header:hover {
    color: #999;
}
.dropdown-header {
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
}
@keyframes fade-in-up {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0px); }
}

@keyframes fade-out-up {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-30px); }
}

@keyframes fade-in-down {
    from { opacity: 0; transform: translateY(-30px); }
    to { opacity: 1; transform: translateY(0px); }
}

@keyframes fade-out-down {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(30px); }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}



/* Button to toggle between page views */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* input + .slider {
    background-color: var(--color1);
}

input:checked + .slider {
    background-color: var(--color2);
} */

/* input:focus + .slider {
box-shadow: 0 0 1px var(--color1);
} */

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input[type="checkbox"].model {
    vertical-align: middle;
    margin-top: -2px;
}


/* Details (the dropdown thingies) */
/* Also managing phone versions of blog pages */

details summary {
    margin: -5px;
    cursor: pointer;
    transition: margin 350ms ease-out;
}

details[open] summary {margin-bottom: 10px;}

details.indent-level-2 {padding-left: 45px;}
details.indent-level-3 {padding-left: 90px;}
details.indent-level-4 {padding-left: 135px;}
details.indent-level-5 {padding-left: 180px;}
details.indent-level-6 {padding-left: 225px;}


.toggle-title {
    font-size: 16px
}
.toggle-thumbnail {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}
@media screen and (max-width: 768px){
    .col {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 481px){
    body {
        font-size: 13px;
    }
    p {
        text-align: left;
    }
    .toggle-title {
        font-size: 13px
    }
    .toggle-thumbnail {
        width: 40px;
        height: 40px;
        display: none;
    }
    details.indent-level-2 {padding-left: 20px;}
    details.indent-level-3 {padding-left: 40px;}
    details.indent-level-4 {padding-left: 60px;}
    details.indent-level-5 {padding-left: 80px;}
    details.indent-level-6 {padding-left: 100px;}
    figure {
        width: 70% !important
    }
}